html {
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.5rem; /* 24px */
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
}

body.light {
    background-color: #f2f3f4;
    color: #000000;
}

body.dark {
    background-color: #0A0A0A;
    color: #ffffff;
}

h1, h2, li {
    margin: 0;
    padding: 0;
    font-family: 'Edu AU VIC WA NT Hand', cursive, sans-serif;
    font-size: 45px;
    color: #000000;
}



.toggle-button {
    font-size: 24px;
    border: none;
    background: transparent;
    outline: none;
    position: absolute;
    top: 18px;
    right: 25px;
    padding: 0px;
    z-index: 10;
    box-shadow: none;
    transition: 10s;
}

header {
    padding: 15px;
    text-align: center;
    width: 101%;
    position: relative;
    z-index: 2;
}

/* Change the link color inside header */
header a {
    color: #ff7300; /* Set the link color */
    text-decoration: none; /* Remove underline */
}

body.dark header a {
    color: #ff7300; /* Set the link color */
    text-decoration: none; /* Remove underline */
}

.date-picker {
    display: flex;
    gap: 40px;
    margin-bottom: 25px;
    color: grey;
}

select {
    width: 200px;
    padding: 20px;
    font-size: 1.875rem; /* 30px */
    background-color: #f2f3f4;
    transition: background-color 0.3s, color 0.3s;
}

body.dark select {
    background-color: #0A0A0A; /* Dark background */
    color: #ffffff; /* Light text */
    border: 1px solid #444; /* Optional: subtle border for visibility */
    transition: background-color 0.3s, color 0.3s;
}

.button-container {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 100px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

#calculate-button {
    background-color: #007BFF;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#calculate-button:hover {
    background-color: #2c7b1f;
}

body.dark #calculate-button {
    background-color: #0054a5;
    color: white;
}

body.dark #calculate-button:hover {
    background-color: #1e5415;
    color: white;
}

#reset-button {
    background-color: #ff1515;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

body.dark #reset-button {
    background-color: #7d0a0a;
    color: white;
}

#yymmdd {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem; /* 40px */
    gap: 150px;
    color: #a6a6a6;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  width: 100%;
}
/* Button styling */
#btnInstall {
    background-color: #246519;
    color: white;
  
}


/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 25px;
    }

    .date-picker {
        gap: 5px;
    }

    #yymmdd {
        gap: 50px;
        font-size: 1.75rem; /* 30px */
    }

    .button-container {
        gap: 15px;
    }

    select {
        width: 95px;
        padding: 1px;
        font-size: 15px;
    }

    .footer {
         
        text-align: center;
        }

  
}

@media (min-width: 1020px) {
    .toggle-button {
    font-size: 40px;       
     top: 40px;
        right: 100px; 
    }
}

/* For Webkit browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;  /* Hides the scrollbar */
}

/* For Firefox */
html, body {
    scrollbar-width: none;  /* Hides the scrollbar in Firefox */
}

/* For Internet Explorer 10+ */
html, body {
    -ms-overflow-style: none;  /* Hides the scrollbar in IE 10+ */
    }
